<!-- Contenedor principal de la página -->
<div class="bg-gray-100 min-h-screen p-8 font-sans antialiased">
  @if (event$ | async; as eventDetails) {
  <div class="max-w-4xl mx-auto bg-white rounded-xl shadow-lg overflow-hidden md:max-w-6xl">
    <div class="md:flex">
      <div class="p-8 flex-1">
        
        <div class="flex justify-between">
          <app-icon-button (clickAction)="goBack()" />
          <app-icon-button (clickAction)="editEvent(eventDetails.id!)" icon="edit"/>
        </div>
        
        <app-rsvp
          [confirmedGuests]="confirmedGuests$"
          [pendingGuests]="pendingGuests$"
          [totalGuests]="totalGuests$"
          [declinedGuests]="declinedGuests$"
        />

        <app-event-information [event]="eventDetails" />
        <app-guests-table [guests$]="guests$" [eventId]="eventId" />
      </div>
    </div>
  </div>
  } 
  
  @else {
  <div class="text-center text-gray-600 mt-20">
    <p>Cargando detalles del evento...</p>
  </div>
  }
</div>
