<header>
  <nav class="h-18 bg-blue-600 text-white flex items-center px-2 md:px-5 justify-between">

    <div class="flex items-center gap-2 md:gap-5 select-none cursor-pointer">
      <span class="material-icons cursor-pointer" (click)="handleToggleSidebar()">menu</span>
      <div class="text-lg font-semibold flex items-center gap-2" [routerLink]="['/panel']">
        <span class="font-bold hidden md:block">Celebra | </span> 
        <span class="uppercase text-base font-light md:text-xs md:mt-1">Panel de Control</span>
      </div>
    </div>

    <!-- Contenedor del perfil de usuario y del menú. Se usa 'relative' para posicionar el menú. -->
    <div class="relative flex gap-2 md:gap-4 items-center cursor-pointer select-none" (click)="showAccountMenu = !showAccountMenu" (appClickOutside)="showAccountMenu = false">
      <p class="text-sm hidden md:block">Hola, Luis Urruela</p>
      <div class="w-10 h-10 bg-white rounded-full flex items-center justify-center text-blue-500">LU</div>

      <!-- El menú ahora está posicionado de manera 'absolute' con respecto a su padre 'relative'. -->
      @if (showAccountMenu) {
      <div class="absolute top-full right-0 mt-3">
        <ul class="py-3 px-5 bg-white rounded-lg shadow-lg w-64">
          <li class="border-b border-gray-100 py-3 cursor-pointer text-gray-800 hover:bg-gray-100 px-2 rounded flex items-center gap-2"><span class="material-icons">person</span>Mi perfil</li>
          <li class="py-3 cursor-pointer text-gray-800 hover:bg-gray-100 px-2 rounded flex items-center gap-2" (click)="logout()">
            <span class="material-icons">logout</span>Cerrar Sesión</li>
        </ul>
      </div>
      }
    </div>

  </nav>
</header>