<header>
  <nav class="h-18 bg-purple-500 text-white flex items-center px-2 md:px-5 justify-between">
    <div class="flex items-center gap-2">
      <span class="material-icons cursor-pointer" (click)="handleToggleSidebar()">menu</span>
      <div class="text-3xl font-black">Celebra</div>
    </div>
    <div class="flex gap-2 md:gap-4 items-center">
      <p>Hola, Luis Urruela</p>
      <div class="w-10 h-10 md:w-12 md:h-12 bg-white rounded-full flex items-center justify-center text-purple-500">LU
      </div>
    </div>
  </nav>
</header>