---
import Layout from "../layouts/Layout.astro";
import AuthForm from "../components/AuthForm";
---

<Layout title="Inicia Sesión | Celebra" description='Celebra es una plataforma para celebrar eventos y compartir momentos especiales.'>
  <div class="flex items-center justify-center min-h-screen bg-gray-100 p-4">
    <AuthForm client:only="react" />
  </div>
</Layout>
