<div class="h-38 w-full rounded-3xl overflow-hidden shadow-sm flex flex-col justify-center items-center cursor-pointer bg-gray-50">
  <h3 class="uppercase font-thin text-lg md:text-2xl mb-1">{{ event.template === 'boda' ? event.nombresNovios : event.nombreFestejado }}</h3>

  <div class="flex my-3">
    <div class="flex items-center justify-between gap-1 rounded-l-full bg-purple-400 px-2 py-1 text-white">
      <span class="font-black text-xs uppercase">{{ event.template }}</span>
    </div>
    <div class="flex items-center justify-between gap-1 rounded-r-full bg-gray-400 px-2 py-1 text-white">
      <span class="text-xs uppercase">{{ event.status }}</span>
    </div>
  </div>
</div>
